<?xml version="1.0"?>
<ruleset name="Dream Encode Standards">
	<description>Generally-applicable sniffs for WordPress plugins.</description>

	<!-- What to scan -->
	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg name="parallel" value="10"/>

	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/libraries/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/dist/*</exclude-pattern>
	<exclude-pattern>includes/types/*</exclude-pattern>

	<config name="testVersion" value="8.1-"/>

	<!-- Rules: Check PHP version compatibility -->
	<rule ref="PHPCompatibilityWP"/>

	<config name="minimum_supported_wp_version" value="6.3"/>

    <rule ref="WordPress-Docs"/>
	<rule ref="WordPress-Core">
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
		<exclude name="Squiz.Commenting.FunctionComment.SpacingAfterParamType"/>
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<property name="prefixes" type="array" value="cpofw, copy_paste_order_for_woocommerce, Copy_Paste_Order_For_Woocommerce, dream-encode/copy-paste-order-for-woocommerce" />
				<element value="cpofw"/>
				<element value="copy_paste_order_for_woocommerce"/>
				<element value="Copy_Paste_Order_For_Woocommerce"/>
				<element value="CPOFW"/>
				<element value="dream-encode/copy-paste-order-for-woocommerce"/>
				<element value="Dream_Encode\Copy_Paste_Order_WooCommerce"/>
			</property>
		</properties>
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="copy-paste-order-for-woocommerce"/>
			</property>
		</properties>
	</rule>
	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="blank_line_check" value="true"/>
		</properties>
	</rule>
	<rule ref="PEAR.NamingConventions.ValidClassName.Invalid">
		<exclude-pattern>/includes/copy-paste-order-for-woocommerce-i18n\.php</exclude-pattern>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedVariableFound">
		<exclude-pattern>/*/partials/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.Security.EscapeOutput">
		<properties>
			<property name="customAutoEscapedFunctions" type="array">
				<element value="wc_price"/>
			</property>
		</properties>
	</rule>
</ruleset>

