parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    checkUninitializedProperties: false
    checkGenericClassInNonGenericObjectType: false
    tmpDir: tests
    paths:
        - copy-paste-order-for-woocommerce.php
        - includes
        - admin
        - public
    scanFiles:
        - includes/copy-paste-order-for-woocommerce-constants.php
    scanDirectories:
        - includes
    excludePaths:
        - node_modules/*
    bootstrapFiles:
        - includes/types/OrderDataType.php
        - includes/copy-paste-order-for-woocommerce-constants.php
        - %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
        - %rootDir%/../../php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - %rootDir%/../../php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php